@import "tailwindcss";

a, button, Link {
  cursor: pointer;
}

@font-face {
  font-family: vazir;
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot');
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('FontName-opentype'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: vazirBold;
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.eot');
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.eot?#iefix') format('FontName-opentype'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.woff') format('woff'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: vazir;
  background-color: #f3f3f3;
}

.vazirBold {
  font-family: vazirBold;
}